.o_option_container {
  display: flex;
  padding: 0 0 0 15px;

  img {
    width: 20px;
    height: 20 px;
  }

  h4 {
    margin: 0 0 0 20px;
    font-weight: 300;
  }
}

.o_option_container:hover {
  cursor: pointer;
}
