.o-card-container {
  width: 12rem;
  height: 20rem;
  background-image: url("Card.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.o-price {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.o-price h3 {
  font-size: 18px;
}

.o-price h3::after {
  content: "00";
  font-size: 13px;
}

h5 {
  font-weight: normal;
}

.o-img-clip {
  width: 20px;
  height: 20px;
  margin-top: 1.2rem;
}

.o-date {
  margin: 0 2rem 0 2rem;
  font-size: 15px;
}

.o-icon-container {
  width: 8rem;
  height: 5rem;
  margin-left: 2rem;
  margin-top: 4rem;
}

.o-icon-container h3 {
  font-weight: normal;
  font-size: 15px;
  margin-top: 0;
}

.o-img-icon {
  width: 40px;
}
