@font-face {
  font-family: "nimbus sans";
  src: url("./fonts/NimbusSanL-Reg-webfont.eot");
  src: url("./fonts/NimbusSanL-Reg-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/NimbusSanL-Reg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "nimbus sans";
}

.o-app-main-container {
  display: flex;
  flex-direction: row;
}
